.demoContainer {
  width: 100%;
  height: 100%;
  /* padding: 5rem 0; */
}

.demoTitle {
  max-width: 87.5rem;
  padding-left: 1rem;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 700;
  color: #303234;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  .demoTitle {
    font-size: 3rem;
  }
}

.contentContainer {
  background: #F5F5F7;
  /* padding: 2rem; */
  /* border-radius: 1.5rem; */
  
}

.contentText {
  color: #52525b;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  max-width: 48rem;
  margin: 0 auto;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .contentText {
    font-size: 1.25rem;
    padding: 3.5rem;
  }
}

.contentBold {
  font-weight: 700;
  color: #374151;
}

@media (prefers-color-scheme: dark) {
  .demoTitle {
    color: #e5e5e7;
  }
  
  .contentContainer {
    background: #262626;
  }
  
  .contentText {
    color: #a3a3a3;
  }
  
  .contentBold {
    color: #e5e5e7;
  }
}
